nav {
  background-color: #4056A1;
  color: #FFFF;
  height: 120px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
}

button {
  background-color: #4056A1;
  border: none;
}

nav span {
  margin: 1.5em;
}

.leftSide {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

i .icon {
 color: red;
}
