.previousTweetsSection {
  border: 5px solid #545149;
  margin-top: 3em;
  padding: 1em;
}

.previousTweetsSection:hover {
  box-shadow: 10px 5px 5px #4056A1;
  transition: box-shadow 0.3s ease-in-out;
}

.headerPreviousTweets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameTweetHeader {
  margin-left: 0.3em;
}

.emailTweetHeader {
  color: #4056A1;
  opacity: 0.5;
}

.middlePreviousTweets {
  display: flex;
  flex-direction: column;
  margin-top: 1.7em;
}

.previousTweet{
  font-family: 'Source Sans', sans-serif;
}

.middleTweetBorder {
  border-bottom: 5px solid;
  margin-top: 1em;
}

.footerPreviousTweets {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
}

.previousFooterIcons > .fa-flag, .fa-retweet, .fa-heart {
  color: #545149;
  margin-left: 0.4em;
}

.fa-flag:hover {
  color: #4056A1;
}
.fa-retweet:hover {
  color: #4056A1;
}
.fa-heart:hover {
  color: #4056A1;
}